html, body {
	height: 100%;
}

*{
	box-sizing: border-box;
}

body {
	background-image: url(../images/grey_wash_wall.png)
}

header {
	width: 100%;
	height: 80px;
	display: inline-block;
	background: #225480;
}

header h1{
	box-sizing: border-box;
	width: 250px;
	height: 80px;
	float: left;
	font-family: 'Maven Pro', sans-serif;
	font-size: 36px;
	padding-top: 20px;
	margin-left: 125px;
	text-align: center;
	color: #225480;
	background: #DEDEDE;
	position: relative;
}

header nav {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: 40px;
	margin: 30px 0px 20px 0px;
	float: right;
	position: absolute;
	left: 785px;

}

header nav li {
	float: right;
	padding-left: 10px;
	list-style-type: none;
}

header nav li a {
	font-family: 'Maven Pro', sans-serif;
	text-decoration: none;
	color: #DEDEDE;
	transition: color 0.25s;
}

.wrapper {
	width: 960px;
	clear: left;
	margin: 40px 0px 0px 125px;
	padding-bottom: 80px;
	min-height: 100%;
}

.main {
	width: 650px;
	float: left;
	display: inline-block;
	border: 1px #225480 solid;
	background: #DEDEDE;
	margin-bottom: 40px;

}

.maincontent {
	width: 600px;
	font-family: 'Maven Pro', sans-serif;
	margin-left: 25px;
	position: relative;
}

.main .underline {
	height: 3px;
	width: 600px;
	background: #d08142;
	margin-bottom: 12px;
}

.main img {
	float: left;
	margin: 0px 15px 15px 0px;
	border: 1px #225480 solid;
}

.main h2{
	padding: 20px 0px 10px 0px;
	font-family: 'Maven Pro', sans-serif;
	color: #225480;
	font-size: 36px;
}

.main p {
	font-family: 'Maven Pro', sans-serif;
	color: #225480;
	font-size: 16px;
	line-height: 20px;
}

.portfolio img {
	width: 270px;
	z-index: 100;
}

.portfolio h4{
	position: absolute;
	background: #DEDEDE;
	height: 40px;
	color: #225480;
	font-size: 28px;
	bottom: 0px;
	z-index: 200;
}

.sidebar {
	width: 270px;
	float: left;
	margin-left: 40px;
	font-family: 'Maven Pro', sans-serif;
	display: inline-block;
	border: 1px #1B4869 solid;
	background: #DEDEDE;
}

.sidebar a{
	text-decoration: none;
}

.sbcontent{
	width: 210px;
	margin-left: 30px;
}

.sidebar h3 {
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	color: #225480;
	font-size: 20px;
	height: 40px;
	padding-top: 10px;
}

.sidebar .line {
	width: 100%;
	height: 3px;
	background: #d08142;
}

.sbimg{
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

.sidebar img {
	height: 60px;
	width: 60px;
	border-radius: 15%;
	vertical-align: center;
}

#link{
	margin-left: 10px;
}

#stack {
	margin-left: 10px;
}

footer {
	float: left;
	width: 100%;
	height: 80px;
	text-align: center;
	background-color: #1B4869;
	margin-top: -80px;
	z-index: 200;
}

footer p{
	font-size: 12px;
	font-family: 'Maven Pro', sans-serif;
	padding: 34px 0px 34px 0px;
	color: #DEDEDE;
}